.aaa {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
}

.container {
  display: grid;
  gap: 0.5rem 0;
  grid-template-columns: repeat(3, 160px);
  justify-items: center;
  width: 500px;
}

.container-quadrado {
  align-items: center;
  background-color: antiquewhite;
  cursor: pointer;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  height: 150px;
  width: 150px;

  span {
      color: green;
  }
}

.mensagem {
  font-size: 2rem;

  p {
    margin: 0;
  }
}

.reiniciar {
  button {
    background-color: red;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 180px;
  }
}
