.container {
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-rows: 50px 350px 60px 50px;
  justify-items: center;
  height: 100vh;

  h1 {
    color: #fff;
    font-family: "Shadows Into Light", cursive;
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 900px) {
    grid-template-rows: 80px 500px 60px 50px;

    h1 {
      font-size: 3rem;
    }
  }
}
