.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  justify-content: center;

  h1 {
    color: #fff;
    font-family: "Shadows Into Light", cursive;
    font-size: 3rem;
    margin: 0;
  }
}

.jogo {
  display: grid;
  gap: 0.5rem 0;
  grid-template-columns: repeat(3, 160px);
  justify-items: center;
  width: 500px;
}

.quadrado {
  align-items: center;
  background-color: #282c34;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  font-size: 6rem;
  justify-content: center;
  height: 150px;
  width: 150px;

  &:hover {
    background-color: #434a56;
  }

  span {
    color: #fff;
  }
}

.mensagem {
  font-size: 1.7rem;

  p {
    color: #fff;
    margin: 0;
  }
}

.reiniciar {
  button {
    background-color: #152139;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
    height: 35px;
    width: 160px;

    &:hover {
      background-color: #283f6d;
    }
  }
}
